<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
	<f:render partial="Ratingsdata/Styling" arguments="{settings:settings}" />

	<div id="tx_tp3ratings-{ratingsdata.ref}">
	<div class="tx_tp3ratings">
		<div class="tx-tp3ratings-display-wrap" id="tx_tp3ratings-wait-{ratingsdata.ref}">
			<img src="typo3conf/ext/tp3ratings/Resources/Public/Css/working.gif" width="16" height="16" alt=""/>
			<f:if condition="{ratingsdata.submittext}">
				<f:then>
					{ratingsdata.submittext}
				</f:then>
				<f:else>
					<f:translate key="api_submitting" />
				</f:else>
			</f:if>
		</div>
		<div id="tx_tp3ratings-display-{ratingsdata.ref}">
			<div class="tx_tp3ratings-display">
				<div class="tx_tp3ratings-vote-bar" style="width: {ratingsdata.barwidth}px">
						<f:render partial="Ratingsdata/Votelink" arguments="{options:ratingsdata.options}" />
					<div class="tx_tp3ratings-cleaner"></div>
				</div>
			</div>
			<div class="tx_tp3ratings-text">
					{ratingstext}<br>
				<f:if condition="{ratingsdata.tip}">
					<f:then>
						{ratingsdata.tip}
					</f:then>
					<f:else>
						<f:translate key="api_tip" />
					</f:else>
				</f:if>
			</div>
			<f:if condition="{ratingsdata.disableMicrodata} < 1">
				<f:then>
					<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
						<meta itemprop="worstRating" content="{ratingsdata.worstRating}">
						<meta itemprop="ratingValue" content="{ratingsdata.ratingValue}"/>
						<meta itemprop="bestRating" content="{ratingsdata.bestRating}"/>
						<meta itemprop="reviewCount" content="{ratingsdata.reviewCount}"/>
						<meta itemprop="ratingCount" content="{ratingsdata.ratingCount}"/>
					</div>
				</f:then>

			</f:if>

		</div>
	</div>
		<f:if condition="{disableReview} < 1">
			<div id="tp3review" class="modal fade panel" role="dialog">
				<div class="modal-dialog" role="document">
					<form name="review" id="tp3reviewRequest" action="">

						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="gridSystemModalLabel"><f:translate key="LLL:EXT:tp3ratings/Resources/Private/Language/locallang_db.xlf:tx_tp3ratings_domain_model_ratingsdata.review" /></h4>
							</div>
							<div class="modal-body">

								<div class="tp3review-rating">
								</div>
								<div class="tp3review-text">
									<label for="review">
										<f:translate key="LLL:EXT:tp3ratings/Resources/Private/Language/locallang_db.xlf:tx_tp3ratings_data.review" />
									</label><br />
									<f:form.textarea name="tp3reviewdata[review]" class="tx_tp3ratings_data-textarea" additionalAttributes="{required: 'required'}" cols="40" rows="15" /><br />
								</div>
								<div class="tp3review-mail">
									<label class="email">
										<f:translate key="LLL:EXT:tp3ratings/Resources/Private/Language/locallang_db.xlf:tx_tp3ratings_data.email" />
									</label><br>
									<f:form.textfield required="TRUE"  additionalAttributes="{pattern:'[^ @]*@[^ @]*'}" type="email" name="tp3reviewdata[emailadresse]"  errorClass="'f3-form-error'" class="formvalue" id="tx_tp3ratings_data.emailadresse" >
									</f:form.textfield>	<br>
									<span class="emailtxt"><f:translate key="LLL:EXT:tp3ratings/Resources/Private/Language/locallang_db.xlf:tx_tp3ratings_data.emailtxt" /></span>
									<f:form.hidden  name="tp3reviewdata[check]" value="{ratingsdata.options['check']}"  id="check" />
									<f:form.hidden  name="eID" value="review"  />
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="SubmitReview">Send</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div>
		</f:if>
	</div>
	<f:if condition="{debugMode}"><f:debug>{_all}</f:debug></f:if>

</f:section>
</html>